# R
.Rhistory
.RData
.Rproj.user/
*.Rproj
.Renviron

# macOS
.DS_Store
.AppleDouble
.LSOverride

# RStudio
.Rproj.user

# knitr / rmarkdown
*_cache/
*_files/

# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.spl
*.synctex.gz
*.toc
*.vrb

# output
*.html
